.lock
.env.local
.DS_store
.python-version
.log


scripts/archives/*
scripts/archives/

notes/*
notes/

report/main.aux
report/main.bbl
report/main.blg
report/main.log
report/main.out
report/main.synctex.gz
report/main.toc