.lock
.env.local
.DS_Store
.python-version
*.log

# IDE settings
.vscode/
.idea/

scripts/archives/
notes/

report/*.aux
report/*.bbl
report/*.blg
report/*.log
report/*.out
report/*.synctex.gz
report/*.toc

__pycache__/
*.py[cod]
*$py.class